body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
.container {
    width: 60%;
    margin: 50px 250px;
    background: white;
    border-radius: 8px;
}
.header {
    background-color: #126d15;
    color: white;
    padding: 15px;
    text-align: left;
    font-size: 40px;
}
form{
    margin: 30px;
    padding: 30px;
}
input{
    margin-left: 10px;
}
